<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  </head>
  <body>
    <div class="error">
      <h3>Sorry, something went wrong</h3>
      <h1>Error <%- status %></h1>
      <h2><%- message %></h2>
    </div>
    <div id="devtools"></div>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
